<div class="alert alert-error" *ngIf="alertMessage">
  {{alertMessage}}
</div>

<form [formGroup]="form">

  <div class="login-container">
    <mat-form-field>
      <input class="username" name="userName" formControlName="userName" matInput placeholder="User Name">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input name="password" formControlName="password" type="password" matInput placeholder="Password">
    </mat-form-field>

    <div class="form-buttons login-btn">
      <button mat-button class="button button-primary" (click)="login()">Login</button>
    </div>

  </div>

</form>