<mat-card [ngClass]="student.category == 'Domestic' ? 'col-blue' : 'col-yellow'">
<span class="title">{{student.name}}</span>
<br/>
<span class="info"><b>Fathere's Name: </b>{{student.fathersName}}</span>
<br/>
<span class="info"><b>Mother's Name: </b>{{student.mothersName}}</span>
<hr/>
<button mat-button (click)="editButtonClick(student.id)">Edit</button>
<button mat-button (click)="viewButtonClick(student.id)">View</button>
<button mat-button (click)="deleteButtonClick(student.id)">Delete</button>
</mat-card>