mat-card{
    margin: 10px;
    display: inline-block;
    width: 25%;
}
.col-blue{
    background-color: #0707f873;
}
.col-yellow{ 
    background-color: #ffff0057;
}
.title{
    font-size: 20px;
    padding: 5px;
}
.info{
    font-size: 15px;
    padding: 5px;
}